certifi==2018.11.29
chardet==3.0.4
decorator==4.3.2
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.2.0
moviepy==1.0.0
numpy==1.16.2
Pillow==6.2.0
pkg-resources==0.0.0
proglog==0.1.9
pytube==9.4.0
requests==2.21.0
tqdm==4.31.1
urllib3==1.26.5
